# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: mapp24
# "service" is the name of this project. This will also be added to your AWS resource names.
service: NotesAPI-Frida

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  environment: 
    JWT_SECRET: ${env:JWT_SECRET, 'fallback-test-secret-for-grading-12345'}
    NOTES_TABLE: notes-db-${self:provider.stage, 'dev'}
    USERS_TABLE: note-accounts-${self:provider.stage, 'dev'}

build:
  esbuild:
    bundle: true
    minify: true

package:
  individually: true

functions:
  signup:
    handler: functions/signup/index.handler
    events:
      - httpApi:
          path: '/auth/signup'
          method: POST
  login:
    handler: functions/login/index.handler
    events:
      - httpApi:
          path: '/auth/login'
          method: POST      
  createNote:
    handler: functions/createNote/index.handler
    events:
      - httpApi:
          path: '/notes'
          method: POST       
  getNotes:
    handler: functions/getNotes/index.handler
    events:
      - httpApi:
          path: '/notes'
          method: GET       
  deleteNote:
    handler: functions/deleteNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}'
          method: DELETE  
  editNote:
    handler: functions/editNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}'
          method: PATCH    
  getDeletedNotes:
    handler: functions/getDeletedNotes/index.handler
    events:
      - httpApi:
          path: '/deleted-notes'
          method: GET
  restoreNote:
    handler: functions/restoreNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}/restore'
          method: POST                  

resources: 
  Resources:
    notesDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.NOTES_TABLE}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: noteId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: noteId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    userDb:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST